{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>My Tasks</title>
</head>

<body>

    <h1>Hello World </h1>

    <br> <br> <br>
    <hr>

    <h2>Task 2</h2>

    <table style="width:50%">
        <tr>
            <th> ID </th>
            <th>Country Name </th>
            <th>Iso Code</th>
        </tr>
        {% for item in data.infoList %}
        <tr>
            <td> {{ item.ID }} </td>
            <td> {{ item.name }} </td>
            <td>{{ item.ISOCode }}</td>
        </tr>
        {% endfor %}
    </table>


    <br> <br> <br>
    <hr>
    <h2>Task3</h2>

    <h4>Sorted byID </h4>
    <table style="width:50%">
        <tr>
            <th> ID </th>
            <th>Country Name </th>
            <th>Iso Code</th>
        </tr>
        {% for item in sortedId %}
        <tr>
            <td> {{ item.ID }} </td>
            <td> {{ item.name }} </td>
            <td>{{ item.ISOCode }}</td>
        </tr>
        {% endfor %}
    </table>

    <h4>Sorted by ISO </h4>
    <table style="width:50%">
        <tr>
            <th> ID </th>
            <th>Country Name </th>
            <th>Iso Code</th>
        </tr>
        {% for item in sortedISO %}
        <tr>
            <td> {{ item.ID }} </td>
            <td> {{ item.name }} </td>
            <td>{{ item.ISOCode }}</td>
        </tr>
        {% endfor %}
    </table>

    <br> <br> <br>
    <hr>
    <h2>Task4</h2>

    <button type="button" class="btn btn-outline-primary">
        <a href="{% url 'sortedId'  %}"> Sorted Id </a>
    </button>
    
    <button type="button" class="btn btn-outline-primary">
        <a href="{% url 'sortedISO'  %}"> Sorted ISO </a>
    </button>

    <br> <br> <br>
    <hr>
    

</body>

</html>